body {
  /*font-family: "lucida grande",tahoma,verdana,arial,sans-serif;*/
}
#games {
  padding: 0px;
  cell-padding: 5px;
  text-align: center;
  border: 5px;
  width: 100%;
}

#games th {
  background: black;
  color: white;
}

#games .goalInput {
  border: 1px solid #aaaaaa;
  width: 30px;
}

#games .gameMatchup {
  width: 400px;
}

#games .gameTeam {
  display: inline-block;
  width: 45%;
}

#games img {
  margin-left: 5px;
  margin-right: 5px;
}
#standings {
  width: 100%;
}
#standings .number {
  text-align: right;
}

.matchday_selection {
  width: 100%;
  padding-bottom: 5px;
}

.matchday_selection li {
  list-style-type: none;
  display: inline-block;
  width: 33%
}

#next_matchday {
  text-align: right;
  float: right;
  position: relative;
  top: 7px;
}

#matchday_select {
  text-align: center;
}

#prev_matchday {
  text-align: left;
  position: relative;
  top: 7px;
}
