body {
  padding-top: 0px;
}
#header {
  background: #262F35;
  background: url("/img/bg_header.png") repeat;
  width: 100%;
  min-height: 100px;
}
#userbox a {
  color: #CCC;
}
#userbox strong {
  color: #FFFFFF;
}
#userbox a:hover {
  color: #FFF;
  text-decoration: none;
}
#login_button {
  float: right;
  margin: 29px 0 20px;
}
#userbox {
  background: url("/img/userbox.png") no-repeat scroll left bottom transparent;
  float: right;
  margin: 0px 0 20px;
  padding: 6px 16px 10px 16px;
  width: 205px;
  min-height: 70px;
}
#userbox_div {
  color: #CCCCCC;
  font-size: 11px;
  margin: 6px 0;
  width: 141px;
  float: left;
}
#user_img {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #424A53;
  float: left;
  margin: 6px 12px 0 4px;
  padding: 4px;
}
#login_link {
	min-width: 90px;
}
#lang_select {
	float: right;
  margin-top: -36px;
}
#lang_list {
	min-width: 0px;
}
.lang_element form {
  margin: 0px;
  line-height: 0px;
}
.lang_element form:hover {
	background: none repeat scroll 0% 0% rgb(128, 170, 32);
}
.lang_element input[type=image] {
	padding: 4px 7px;
	margin: 0px;
	vertical-align: center;
}
.wrapper {
  margin: 0 auto;
  text-align: left;
  width: 780px;
}
#logo {
  color: #FFFFFF;
  float: left;
  margin: 15px 0 0;
  width: 342px;
}
#logo .image, #logo a {
  background: url("/images/logo.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  display: block;
  height: 50px;
  width: 342px;
}
#logo .logodesc {
  font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  font-size: 19px;
  color: #eee;
}
#pagebar {
  border-bottom: 1px solid #80AA20;
  border-top: 5px solid #80AA20;
  width: 100%;
  background: #BDE562;
}
#navigation ul {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
.container {
  margin-top: 20px;
}
.footer {
  border-top: 1px solid #E5E5E5;
  margin-top: 45px;
  padding: 35px 0 36px;
  font-size: 10px;
  text-align: center;
  color: #aaa;
}
.footer a {
  color: #aaa;
}
.footer a:hover {
  color: #777;
}

.goal_input {
  width: 20px;
}
.game_team {
  display: inline-block;
  width: 47%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align:middle;
  text-overflow: ellipsis;
}
.game_team_img {
  margin: 0 5px;
}
.full_width {
  width: 100%;
}
.centered {
  text-align: center;
}
.selection_row {
  margin-bottom: 10px;
}
#matchday_select {
}
#standing_team img {
	margin-right: 5px;
}
.spinner {
  display: block;
}
.spinner_outer {
  position: absolute;
}
.spinner_buttons {
  position: absolute;
  left: -16px;
  top: 6px;
  width: 16px;
  height: 16px;
}
.spinner_button {
  margin: 0;
  line-height: 10px;
  overflow: hidden;
  text-indent: -99999px;
  cursor: pointer;
}
.spinner_down {
  display: block;
  background-image: url("/img/arrows.png");
  background-position: -16px -5px;
}
.spinner_down:hover {
  background-position: -16px -20px;
}
.spinner_up {
  display: block;
  margin-left: -1px;
  background-image: url("/img/arrows.png");
  background-position: 0px -5px;
}
.spinner_up:hover {
  background-position: 0px -20px;
}
.table th {
  text-align: center;
}
.table td {
  vertical-align: middle;
  text-align: center;
}
.table form {
  margin-bottom: 0px;
}
.disabled_tip {
  cursor: text;
  margin-bottom: 0px;
  text-align: center;
  display: inline-block;
}
.not_placed > * {
  opacity: 0.3;
}
input[disabled] {
  cursor: text;
}
.align-right {
  text-align: right ! important;
}
.align-left {
  text-align: left ! important;
}

/* Bootstrap color additions */
.nav a {
  color: #080;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
  background-color: #080;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: #080;
}
.dropdown-menu li>a:hover, .dropdown-menu .active>a, .dropdown-menu .active > a:hover {
  color:#ffffff;
  text-decoration:none;
  background-color:#008800;
}

/* Misc */

.special_select {
  margin-top: 7px;
  width: 130px;
  text-align: center;
}

input.special_wrong {
  border-color: #B94A48;
  color: #B94A48;
}

input.special_right {
  border-color: #468847;
  color: #468847;
}

#tips_profile_img {
  float: left;
  margin-right: 20px;
  margin-top: 15px;
}

#tips_hr {
  margin-top: 0px;
  margin-bottom: 40px;
}

/* Landing page */
.landing_page .row {
  -padding-top: 10px;
  -padding-bottom: 20px;
}

.landing_page h2 {
  margin-top: 40px;
  color: #777;
}
.fb_signup {
  font-size: 30px;
}
.landing_page .btn {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 450px;
}

.invitation_entry {
  margin-bottom: 20px;
}

.pool_description_textarea {
	width: 97.5%;
	margin-bottom: 3px;
	resize: none;
}
#pool_description_pencil {
	float:right;
	margin-bottom: 9px;
}

/* Comments section */

#comments_table td {
  text-align: left;
}

.comment_img, #add_comment_img {
  float: left;
  margin-right: 10px;
}

.comment_time {
  float: right;
  color: #aaa;
}

#comment_textarea {
  width: 370px;
}

